[flake8]
statatistic = True
count = True
ignore =
  S101,
  E203,
  E266,
  E501,
  W503,
  E402,
  E731,
  B950,
  B011,
  B014,
  N812,
  N804,
  C901,
max-line-length = 79
select = N,B,C,E,F,S,W,T4,B9
docstring-convention=google
per-file-ignores =
    config/settings/*:F405 __init__.py:F401
exclude = tests/,migrations/*,__pycache__,.git/,.pytest_cache/
max-complexity = 10
