<!-- begin #footer -->
<div id="footer" class="footer bg-white">
  <div class="container" style="color: black">
    <div class="footer-brand" style="color: black">
      <img
        class="img-fluid"
        width="400"
        height="400"
        src="/static/assets/img/brand/logos_decires/red-psi-decires.png"
      />
    </div>
    <p class="social-list">
      <!-- <a href="#" class="text-dark"><i class="fab fa-facebook-f fa-fw"></i></a> -->
      <a href="https://www.instagram.com/decirespsico/?hl=es" class="text-dark"><i class="fab fa-instagram fa-fw"></i></a>
      <!-- <a href="#" class="text-dark"><i class="fab fa-twitter fa-fw"></i></a> -->
      <a href="mailto:decires.psicologia@gmail.com" class="text-dark"><i class="fa fa-envelope" ></i></a>
      <a href="https://wa.me/1140698762" class="text-dark"><i class="fab fa-whatsapp fa-fw"></i></a>
    </p>
  </div>
</div>
<!-- end #footer -->
